<h3>Coursera IBM Data Science Professional Certificate Capstone Project</h3>
<h4>Alessandro Bax</h4>

<p>Imports</p>

In [4]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
from bs4 import BeautifulSoup
import requests

In [111]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')

<p>Creates a class HTMLTableParser with the functions to parse the data from the table in the url into a dataframe</p>

In [57]:
class HTMLTableParser:
       
        def parse_url(self, url):
            response = requests.get(url)
            soup = BeautifulSoup(response.text, 'lxml')
            return [(self.parse_html_table(table))\
                    for table in soup.find_all('table', class_="wikitable sortable")]  
    
        def parse_html_table(self, table):
            n_columns = 0
            n_rows=0
            column_names = []
    
            # Find number of rows and columns
            # we also find the column titles if we can
            for row in table.find_all('tr'):
                
                # Determine the number of rows in the table
                td_tags = row.find_all('td')
                if len(td_tags) > 0:
                    n_rows+=1
                    if n_columns == 0:
                        # Set the number of columns for our table
                        n_columns = len(td_tags)
                        
                # Handle column names if we find them
                th_tags = row.find_all('th') 
                if len(th_tags) > 0 and len(column_names) == 0:
                    for th in th_tags:
                        column_names.append(th.get_text())
    
            # Safeguard on Column Titles
            if len(column_names) > 0 and len(column_names) != n_columns:
                raise Exception("Column titles do not match the number of columns")
    
            columns = column_names if len(column_names) > 0 else range(0,n_columns)
            df = pd.DataFrame(columns = columns,
                              index= range(0,n_rows))
            row_marker = 0
            for row in table.find_all('tr'):
                column_marker = 0
                columns = row.find_all('td')
                for column in columns:
                    df.iat[row_marker,column_marker] = column.get_text()
                    column_marker += 1
                if len(columns) > 0:
                    row_marker += 1
                    
            # Convert to float if possible
            for col in df:
                try:
                    df[col] = df[col].astype(float)
                except ValueError:
                    pass
            
            return df

In [114]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
hp = HTMLTableParser()
table = hp.parse_url(url)[0] # Grabbing the table from the tuple
table.head(10)

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n
5      M5A  Downtown Toronto       Regent Park\n
6      M6A        North York  Lawrence Heights\n
7      M6A        North York    Lawrence Manor\n
8      M7A      Queen's Park      Not assigned\n
9      M8A      Not assigned      Not assigned\n

<p>Removing the "Not assigned" values from column Borougth</p>

In [115]:
table = table[table.Borough != 'Not assigned']
table.head(10)

   Postcode           Borough     Neighbourhood\n
2       M3A        North York         Parkwoods\n
3       M4A        North York  Victoria Village\n
4       M5A  Downtown Toronto      Harbourfront\n
5       M5A  Downtown Toronto       Regent Park\n
6       M6A        North York  Lawrence Heights\n
7       M6A        North York    Lawrence Manor\n
8       M7A      Queen's Park      Not assigned\n
10      M9A         Etobicoke  Islington Avenue\n
11      M1B       Scarborough             Rouge\n
12      M1B       Scarborough           Malvern\n

<p>Cleaning the data</p>

In [116]:
list(table)

['Postcode', 'Borough', 'Neighbourhood\n']

In [117]:
table = table.replace('\n',' ', regex=True)
table.head(10)

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [123]:
table = table[table['Neighbourhood\n'] != 'Not assigned']
table.head(10)

   Postcode           Borough    Neighbourhood\n
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

<p>Grouping the data in column Neighbourhood by Postcode column values</p>

In [165]:
df = table.groupby(['Postcode','Borough'])['Neighbourhood\n'].apply(lambda x: ", ".join(x.astype(str))).reset_index()
df = df.sample(frac=1).reset_index(drop=True)
df.head(10)

,Postcode,Borough,Neighbourhood
0,M6B,North York,Glencairn
1,M6L,North York,"Maple Leaf Park , North Park , Upwood Park"
2,M5J,Downtown Toronto,"Harbourfront East , Toronto Islands , Union St..."
3,M5P,Central Toronto,"Forest Hill North , Forest Hill West"
4,M4K,East Toronto,"The Danforth West , Riverdale"
5,M4X,Downtown Toronto,"Cabbagetown , St. James Town"
6,M4A,North York,Victoria Village
7,M3K,North York,"CFB Toronto , Downsview East"
8,M4T,Central Toronto,"Moore Park , Summerhill East"
9,M2M,North York,"Newtonbrook , Willowdale"

In [157]:
df.shape

(103, 3)

<p>Getting geospacial data from url</p>

In [129]:
url2="http://cocl.us/Geospatial_data"
geo_data=pd.read_csv(url2)
geo_data.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [158]:
list(df)

['Postcode', 'Borough', 'Neighbourhood\n']

In [159]:
list(geo_data)

['Postal Code', 'Latitude', 'Longitude']

In [164]:
full_table = df.set_index('Postcode').join(geo_data.set_index('Postal Code'))
full_table = full_table.sample(frac=1).reset_index(drop=True)
full_table.head(20)

,Borough,Neighbourhood,Latitude,Longitude
0,North York,Hillcrest Village,43.803762,-79.363452
1,Central Toronto,Lawrence Park,43.728020,-79.388790
2,Central Toronto,"The Annex , North Midtown , Yorkville",43.672710,-79.405678
3,Scarborough,"Maryvale , Wexford",43.750072,-79.295849
4,East York,Leaside,43.709060,-79.363452
5,Scarborough,Agincourt,43.794200,-79.262029
6,North York,"CFB Toronto , Downsview East",43.737473,-79.464763
7,Central Toronto,Roselawn,43.711695,-79.416936
8,East York,Thorncliffe Park,43.705369,-79.349372
9,Scarborough,"Clairlea , Golden Mile , Oakridge",43.711112,-79.284577
10,Etobicoke,"Alderwood , Long Branch",43.602414,-79.543484
11,North York,"Silver Hills , York Mills",43.757490,-79.374714
12,East Toronto,Studio District,43.659526,-79.340923
13,North York,Downsview Northwest,43.761631,-79.520999
14,North York,York Mills West,43.752758,-79.400049
15,York,Humewood-Cedarvale,43.693781,-79.428191
16,North York,"Fairview , Henry Farm , Oriole",43.778517,-79.346556
17,Etobicoke,"Albion Gardens , Beaumond Heights , Humbergate...",43.739416,-79.588437
18,Etobicoke,"Humber Bay , King's Mill Park , Kingsway Park ...",43.636258,-79.498509
19,Central Toronto,Davisville,43.704324,-79.388790

In [163]:
full_table.shape

(103, 4)